.container {
    height: 70vh;
    width: 110vh;
    border: 2px solid;
    position: relative;
    
}

.content {
    height: 69vh;
    width: 62%;
    background-size: contain;
    bottom: 25rem;
    position: relative;
    left: 38%;
    overflow: hidden;

}

p {
    font-size: .85rem;
    overflow: hidden;
}

