.me {
    height: 80%;
    position: relative;
    left: 20%;
    top: 10%;
    overflow: hidden;
    
}

.content {
    font-size: 10px;
    position: relative;
    top: 20%;
    overflow: hidden;
    width: 100%;
}

.everything{
    width: 100%;
}