.image1 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 25%;
}

.image2 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 14%
}

.image3 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 14%;
}

.image4 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 28%
}

.image5 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 35%
}



