.image1 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 34%
}

.image2 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 17%
}

.image3 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 17%;
}

.image4 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 17%
}

.image5 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 35%
}


