.image1 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 32%
}

.image2 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 31%
}

.image3 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 32%;
}

.image4 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 32%
}

.image5 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 32%
}

.image6 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 32%
}

.image7 {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 28%
}
