.logo {
  font-family: "Bebas Neue", cursive;
  color: black;
}

.jerry {
  font-size: 3rem;
}

.contact,
.about {
  position: relative;
  top: 0.5rem;
}

.a {
  background: white;
}

#nav-dropdown {
  text-decoration: hidden;
  background-color: none;
}
